.barrage-page {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  color: #fff;
  .barrage-container {
    width: 100%;
    height: 600px;
    width: 600px;
    background-color: antiquewhite;
    color: red;

    display: flex;
    overflow: hidden;
  }
  .barrage-demo-wrap {
    width: 600px;
  }
}
